@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h1 class="page-title">Media Categories</h1>
    <div class="card-grid">
        @foreach (var category in Model)
        {
            <div class="card">
                <div class="card-body">
                    <i class='bx bx-folder' > </i>
                    <h5 class="card-title">
                        
                        @category.Name
                    </h5>
                    
                    <a asp-action="Browse" asp-route-position="@category.Path" class="btn">Browse</a>
                </div>
            </div>
        }
    </div>
</div>
